@font-face {
    font-family: Palatino;
    src: url(PalatinoLinotype.ttf);
    font-display: swap;
  }

html,body{
    background-color:#0b1a18;
    height: 100%;
    display: grid;
    font-family: Palatino;
}

.one_h1{
    color: papayawhip;
    font-size: 50px;
    padding-left: 25px;
}

.one_hr{
    border: 0;
    border-top: 1px solid papayawhip;
    margin: 0;
}

.one{
    margin: auto;
    color: papayawhip;
    padding-bottom: 40px;
}

.wip{
    font-size:4em;
    text-align: center;
}

.one a{
    font-size: 2em;
    color:inherit;
    text-decoration: none;
}
.links a:hover{
    border-bottom: 5px solid papayawhip;
    border-color: inherit;
}

.links{
    text-align: center;
}

.links > a{
    margin-right: 10px;
}

.twitter:hover{
    transition:0.25s;
    color:cornflowerblue;
}

.itch:hover{
    transition:0.25s;
    color:#FA5C5B;
}

.git:hover{
    transition:0.25s;
    color:slategray;
}

.twitch:hover{
    transition:0.25s;
    color:mediumpurple;
}

#mail:hover{
    transition:0.25s;
    color:rgb(102, 204, 102);
}

.mess{
    text-align: center;
    position:absolute;
    left:0;
    right:0;
    padding-top: 30px;
    font-size: 2em;
}

.messtwitter, .messtwitch, .messitch, .messgit, .messmail{
    display:none;
}

.messtwitter{
    color:cornflowerblue;
}

.messtwitch{
    color:mediumpurple;
}

.messitch{
    color:#FA5C5B;
}

.messgit{
    color:slategray;
}

.messmail{
    color:rgb(102, 204, 102);
}

@media screen and (max-width: 450px){
    .twitter{
        color:cornflowerblue !important;
    }
    .itch{
        color:#FA5C5B !important;
    }
    .git{
        color:slategray !important;
    }
    .twitch{
        color:mediumpurple !important;
    }
}

.grid{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    justify-items: center;
    font-size: 2em;
}

.first-el{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: papayawhip;
    width: 100%;
    height: 100%;
}


.second-el{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: papayawhip;
    width: 100%;
    height: 100%;
}

/*
.third-el{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: papayawhip;
    width: 100%;
    height: 100%;
}

.fourth-el{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: papayawhip;
    width: 100%;
    height: 100%;
}
*/
.grid > a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.work{
    text-align: center;
    font-size: 1em;
}

.work:hover > a{
    transition: 0.25s;
    border-bottom: 4px solid papayawhip !important;
}

.flash{
    animation: flash 0.2s linear;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
